ADF-taizawa002/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "データ ファクトリ名",
			"defaultValue": "ADF-taizawa002"
		},
		"Schdule_TriggerTest003_properties_TriggerTest_parameters_p1": {
			"type": "string",
			"defaultValue": "1"
		},
		"Schdule_TriggerTest003_properties_TriggerTest_parameters_p2": {
			"type": "string",
			"defaultValue": "2"
		},
		"Schdule_TriggerTest003_properties_TriggerTest_parameters_p3": {
			"type": "string",
			"defaultValue": "3"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dataflow3')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Blob_Jspn1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Blob_Jspn1",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"description": "データを Blob_Jsn1 にエクスポートします"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          event_params as (key as string, value as (string_value as string, int_value as integer, float_value as double, double_value as double))[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments') ~> source1",
						"source1 derive(target_param = find(event_params, #item.key=='abcd')) ~> derivedColumn1",
						"derivedColumn1 derive(target_value = target_param.value.string_value) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          event_params as (key as string, value as (string_value as string, int_value as integer, float_value as double, double_value as double))[]",
						"     ),",
						"     partitionFileNames:['result.json'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_2304030060000934_2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "参照変換と派生列変換のテスト",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText7",
								"type": "DatasetReference"
							},
							"name": "SAP"
						},
						{
							"dataset": {
								"referenceName": "DelimitedText8",
								"type": "DatasetReference"
							},
							"name": "Dynamics"
						}
					],
					"sinks": [
						{
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "lookup1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ID as string,",
						"          NAME as string,",
						"          VALUE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SAP",
						"source(output(",
						"          ID as string,",
						"          NAME as string,",
						"          CONTENTS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Dynamics",
						"SAP, Dynamics lookup(SAP@NAME == Dynamics@NAME,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1 derive(CONTENTS = iif(isNull(CONTENTS), \"-\", CONTENTS)) ~> derivedColumn1",
						"derivedColumn1 sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: false,",
						"     saveOrder: 1) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2206270060000972')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataFlowのソースで、完了後にファイルを移動するオプションの挙動を確認。",
				"activities": [
					{
						"name": "2206270060000972",
						"description": "DataFlowのソースで、完了後にファイルを移動するオプションの挙動を確認。",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataFlow_2206270060000972",
								"type": "DataFlowReference",
								"parameters": {
									"azureRootFolder": {
										"value": "'@{variables('azureRootFolder')}'",
										"type": "Expression"
									},
									"ftpFileName": {
										"value": "'@{variables('ftpFileName')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADLSGen2": {
										"filePath": {
											"value": "@{variables('azureRootFolder')}/work",
											"type": "Expression"
										},
										"fileName": {
											"value": "@variables('ftpFileName')",
											"type": "Expression"
										}
									},
									"ADLSGen2out": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"azureRootFolder": {
						"type": "String",
						"defaultValue": "ETL/AD01"
					},
					"ftpFileName": {
						"type": "String",
						"defaultValue": "MKI_DMS_RECOVERY"
					}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:43:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2301240060000138_copy_XML')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"detectDataType": false,
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['author']"
										},
										"sink": {
											"name": "Author",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['genre']"
										},
										"sink": {
											"name": "Genre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['price']"
										},
										"sink": {
											"name": "Price",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['publish_date']"
										},
										"sink": {
											"name": "Date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['test']"
										},
										"sink": {
											"name": "Test",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['@id']"
										},
										"sink": {
											"name": "ID",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['catalog']['book']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_Xml",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2302080010000599_Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "MySQL ⇒ Parquet",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CREATED_YEAR_MONTH",
											"type": "Decimal"
										},
										"sink": {
											"name": "CREATED_YEAR_MONTH",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": false,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_ADLS_Gen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2302160060001405')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy & 解凍",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": true,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"compressionProperties": {
										"type": "TarGZipReadSettings",
										"preserveCompressionFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FTP_CSV_2302160060001405",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {
									"folder": "decompress"
								}
							}
						]
					},
					{
						"name": "Main Process",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "decompress/*",
									"wildcardFileName": "test005.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {
									"folder": "decompress"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText6",
								"type": "DatasetReference",
								"parameters": {
									"folder": "targetFile",
									"fileName": "test005.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_f5e')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_f5e",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_f5e",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "dbo.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_f5e",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_f5e",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Books"
								},
								"destination": {
									"table": "Books"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "ID",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Author",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Author",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Genre",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Genre",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Price",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Price",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Date",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Date",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Description",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Test",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Test",
													"type": "String",
													"physicalType": "varchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Cars"
								},
								"destination": {
									"table": "Cars"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Name",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Model",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Model",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Length",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "Length",
													"type": "Int32",
													"physicalType": "int"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Cars_Copy"
								},
								"destination": {
									"table": "Cars_Copy"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Model",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Model",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Length",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "Length",
													"type": "Int32",
													"physicalType": "int"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Countries_"
								},
								"destination": {
									"table": "Countries_"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Name",
													"type": "String",
													"physicalType": "varchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "hogehoge"
								},
								"destination": {
									"table": "hogehoge"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "Id",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Id",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "SinkCreatedOn",
													"type": "DateTime",
													"physicalType": "datetime2"
												},
												"sink": {
													"name": "SinkCreatedOn",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "SinkModifiedOn",
													"type": "DateTime",
													"physicalType": "datetime2"
												},
												"sink": {
													"name": "SinkModifiedOn",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "statecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "statecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "statuscode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "statuscode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "industrycode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "industrycode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "customersizecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "customersizecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "accountratingcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "accountratingcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address1_shippingmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address1_shippingmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "businesstypecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "businesstypecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "shippingmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "shippingmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "preferredappointmenttimecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "preferredappointmenttimecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address2_shippingmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address2_shippingmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "territorycode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "territorycode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "accountclassificationcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "accountclassificationcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "preferredcontactmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "preferredcontactmethodcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "preferredappointmentdaycode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "preferredappointmentdaycode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "paymenttermscode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "paymenttermscode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address1_addresstypecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address1_addresstypecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "ownershipcode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "ownershipcode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address2_freighttermscode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address2_freighttermscode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address2_addresstypecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address2_addresstypecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address1_freighttermscode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address1_freighttermscode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "customertypecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "customertypecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "accountcategorycode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "accountcategorycode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "marketingonly",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "marketingonly",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotpostalmail",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotpostalmail",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotbulkpostalmail",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotbulkpostalmail",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotbulkemail",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotbulkemail",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotphone",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotphone",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotsendmm",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotsendmm",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "isprivate",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "isprivate",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "merged",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "merged",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotfax",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotfax",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "donotemail",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "donotemail",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "creditonhold",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "creditonhold",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "followemail",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "followemail",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "participatesinworkflow",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "participatesinworkflow",
													"type": "Boolean",
													"physicalType": "bit"
												}
											},
											{
												"source": {
													"name": "modifiedonbehalfby",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedonbehalfby",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedonbehalfby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedonbehalfby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedby",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedby",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedbyexternalparty",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedbyexternalparty",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedbyexternalparty_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedbyexternalparty_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owninguser",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owninguser",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owninguser_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owninguser_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "transactioncurrencyid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "transactioncurrencyid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "transactioncurrencyid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "transactioncurrencyid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "slainvokedid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "slainvokedid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "slainvokedid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "slainvokedid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdbyexternalparty",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdbyexternalparty",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdbyexternalparty_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdbyexternalparty_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdonbehalfby",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdonbehalfby",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdonbehalfby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdonbehalfby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "parentaccountid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "parentaccountid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "parentaccountid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "parentaccountid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "primarycontactid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "primarycontactid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "primarycontactid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "primarycontactid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "slaid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "slaid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "slaid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "slaid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "masterid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "masterid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "masterid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "masterid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owningbusinessunit",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owningbusinessunit",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owningbusinessunit_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owningbusinessunit_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owningteam",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owningteam",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owningteam_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owningteam_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "preferredsystemuserid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "preferredsystemuserid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "preferredsystemuserid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "preferredsystemuserid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdby",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdby",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdby_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "ownerid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ownerid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "ownerid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ownerid_entitytype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "aging90",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "aging90",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "creditlimit_base",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "creditlimit_base",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "aging60_base",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "aging60_base",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "marketcap",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "marketcap",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "revenue",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "revenue",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "aging30_base",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "aging30_base",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "marketcap_base",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "marketcap_base",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "revenue_base",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "revenue_base",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "aging60",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "aging60",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "aging90_base",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "aging90_base",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "aging30",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "aging30",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "creditlimit",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "creditlimit",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "address2_postalcode",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_postalcode",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_longitude",
													"type": "Double",
													"physicalType": "float"
												},
												"sink": {
													"name": "address1_longitude",
													"type": "Double",
													"physicalType": "float"
												}
											},
											{
												"source": {
													"name": "address2_county",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_county",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "slainvokedidname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "slainvokedidname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "masteraccountidname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "masteraccountidname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "overriddencreatedon",
													"type": "DateTime",
													"physicalType": "datetime2"
												},
												"sink": {
													"name": "overriddencreatedon",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "entityimageid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "entityimageid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_longitude",
													"type": "Double",
													"physicalType": "float"
												},
												"sink": {
													"name": "address2_longitude",
													"type": "Double",
													"physicalType": "float"
												}
											},
											{
												"source": {
													"name": "address2_line3",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_line3",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_telephone2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_telephone2",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "transactioncurrencyidname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "transactioncurrencyidname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_upszone",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_upszone",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "processid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "processid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_city",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_city",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "masteraccountidyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "masteraccountidyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "emailaddress2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "emailaddress2",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "emailaddress1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "emailaddress1",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owneridyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owneridyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_country",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_country",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedonbehalfbyname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedonbehalfbyname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedbyname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedbyname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "exchangerate",
													"type": "Decimal",
													"physicalType": "decimal"
												},
												"sink": {
													"name": "exchangerate",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "address1_line2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_line2",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_postofficebox",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_postofficebox",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdbyexternalpartyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdbyexternalpartyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "numberofemployees",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "numberofemployees",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "modifiedbyexternalpartyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedbyexternalpartyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_utcoffset",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address1_utcoffset",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address2_stateorprovince",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_stateorprovince",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "telephone1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "telephone1",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_stateorprovince",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_stateorprovince",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedon",
													"type": "DateTime",
													"physicalType": "datetime2"
												},
												"sink": {
													"name": "modifiedon",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "createdon",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdon",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "accountid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "accountid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_utcoffset",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "address2_utcoffset",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "owningbusinessunitname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owningbusinessunitname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "parentaccountidyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "parentaccountidyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_county",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_county",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_telephone3",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_telephone3",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "entityimage_url",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "entityimage_url",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "primarytwitterid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "primarytwitterid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_line2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_line2",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdonbehalfbyname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdonbehalfbyname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "yominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "yominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_city",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_city",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "fax",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "fax",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "timezoneruleversionnumber",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "timezoneruleversionnumber",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "createdonbehalfbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdonbehalfbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_composite",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_composite",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owneridtype",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owneridtype",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_upszone",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_upszone",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "parentaccountidname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "parentaccountidname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "telephone3",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "telephone3",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "entityimage_timestamp",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "entityimage_timestamp",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "modifiedbyexternalpartyname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedbyexternalpartyname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "cr558_file",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "cr558_file",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "emailaddress3",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "emailaddress3",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_latitude",
													"type": "Double",
													"physicalType": "float"
												},
												"sink": {
													"name": "address1_latitude",
													"type": "Double",
													"physicalType": "float"
												}
											},
											{
												"source": {
													"name": "primarysatoriid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "primarysatoriid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_country",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_country",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "telephone2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "telephone2",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdbyexternalpartyname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdbyexternalpartyname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "lastusedincampaign",
													"type": "DateTime",
													"physicalType": "datetime2"
												},
												"sink": {
													"name": "lastusedincampaign",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "accountnumber",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "accountnumber",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_line3",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_line3",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "primarycontactidname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "primarycontactidname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "timespentbymeonemailandmeetings",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "timespentbymeonemailandmeetings",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_primarycontactname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_primarycontactname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "preferredsystemuseridname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "preferredsystemuseridname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_postofficebox",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_postofficebox",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "primarycontactidyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "primarycontactidyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "versionnumber",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "versionnumber",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "slaname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "slaname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_composite",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_composite",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "ftpsiteurl",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ftpsiteurl",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "sic",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "sic",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_line1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_line1",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "lastonholdtime",
													"type": "DateTime",
													"physicalType": "datetime2"
												},
												"sink": {
													"name": "lastonholdtime",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "cr558_file_name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "cr558_file_name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_telephone1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_telephone1",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_fax",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_fax",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "description",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "description",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "stageid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "stageid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "websiteurl",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "websiteurl",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "utcconversiontimezonecode",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "utcconversiontimezonecode",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "stockexchange",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "stockexchange",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_addressid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_addressid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_latitude",
													"type": "Double",
													"physicalType": "float"
												},
												"sink": {
													"name": "address2_latitude",
													"type": "Double",
													"physicalType": "float"
												}
											},
											{
												"source": {
													"name": "traversedpath",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "traversedpath",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_addressid",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_addressid",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "onholdtime",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "onholdtime",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address1_line1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_line1",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "owneridname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "owneridname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_telephone1",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_telephone1",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_telephone2",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_telephone2",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_telephone3",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_telephone3",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdbyname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "createdbyname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "tickersymbol",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "tickersymbol",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address2_primarycontactname",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address2_primarycontactname",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "modifiedonbehalfbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "modifiedonbehalfbyyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address1_fax",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_fax",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "importsequencenumber",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "importsequencenumber",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "name",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "preferredsystemuseridyominame",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "preferredsystemuseridyominame",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "sharesoutstanding",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "sharesoutstanding",
													"type": "Int64",
													"physicalType": "bigint"
												}
											},
											{
												"source": {
													"name": "address1_postalcode",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "address1_postalcode",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "cr558_number_test",
													"type": "Int64",
													"physicalType": "bigint"
												},
												"sink": {
													"name": "cr558_number_test",
													"type": "Int64",
													"physicalType": "bigint"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Movies"
								},
								"destination": {
									"table": "Movies"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "Title",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Title",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Genres",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Genres",
													"type": "String",
													"physicalType": "varchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Snowflake"
								},
								"destination": {
									"table": "Snowflake"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "V",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "V",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "T",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "T",
													"type": "String",
													"physicalType": "nvarchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Snowflake_Customer"
								},
								"destination": {
									"table": "Snowflake_Customer"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "C_CUSTKEY",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_CUSTKEY",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_NAME",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_NAME",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_ADDRESS",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_ADDRESS",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_NATIONKEY",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_NATIONKEY",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_PHONE",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_PHONE",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_ACCTBAL",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_ACCTBAL",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_MKTSEGMENT",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_MKTSEGMENT",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "C_COMMENT",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "C_COMMENT",
													"type": "String",
													"physicalType": "nvarchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "test_Rest"
								},
								"destination": {
									"table": "test_Rest"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "seqNumber",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "seqNumber",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "docID",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "docID",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "edinetCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "edinetCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "secCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "secCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "JCN",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "JCN",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "filerName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "filerName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "fundCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "fundCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "ordinanceCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "ordinanceCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "formCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "formCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "docTypeCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "docTypeCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "periodStart",
													"type": "DateTime",
													"physicalType": "date"
												},
												"sink": {
													"name": "periodStart",
													"type": "DateTime",
													"physicalType": "date"
												}
											},
											{
												"source": {
													"name": "periodEnd",
													"type": "DateTime",
													"physicalType": "date"
												},
												"sink": {
													"name": "periodEnd",
													"type": "DateTime",
													"physicalType": "date"
												}
											},
											{
												"source": {
													"name": "submitDateTime",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "submitDateTime",
													"type": "DateTime",
													"physicalType": "datetime"
												}
											},
											{
												"source": {
													"name": "docDescription",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "docDescription",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "issuerEdinetCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "issuerEdinetCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "subjectEdinetCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "subjectEdinetCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "subsidiaryEdinetCode",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "subsidiaryEdinetCode",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "currentReportReason",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "currentReportReason",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "parentDocID",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "parentDocID",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "opeDateTime",
													"type": "DateTime",
													"physicalType": "datetime"
												},
												"sink": {
													"name": "opeDateTime",
													"type": "DateTime",
													"physicalType": "datetime"
												}
											},
											{
												"source": {
													"name": "withdrawalStatus",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "withdrawalStatus",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "docInfoEditStatus",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "docInfoEditStatus",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "disclosureStatus",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "disclosureStatus",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "xbrFlag",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "xbrFlag",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "pdfFlag",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "pdfFlag",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "attachDocFlag",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "attachDocFlag",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "englishDocFlag",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "englishDocFlag",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "csvFlag",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "csvFlag",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "legalStatus",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "legalStatus",
													"type": "Int32",
													"physicalType": "int"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_lda')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_lda",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_lda",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "dbo.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_lda",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_lda",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Cars"
								},
								"destination": {
									"table": "Cars"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Name",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Model",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Model",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Length",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "Length",
													"type": "Int32",
													"physicalType": "int"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Movies"
								},
								"destination": {
									"table": "Movies"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "Title",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Title",
													"type": "String",
													"physicalType": "varchar"
												}
											},
											{
												"source": {
													"name": "Genres",
													"type": "String",
													"physicalType": "varchar"
												},
												"sink": {
													"name": "Genres",
													"type": "String",
													"physicalType": "varchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_lsz')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_lsz",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "input//"
							},
							{
								"name": "Destination",
								"value": "/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "Test.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 1
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureFileStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_lsz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_lsz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:43:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_Dataverse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Dataverse",
								"type": "DataFlowReference",
								"parameters": {
									"test": "{顧客}"
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:43:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelToExcel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExcelToExcel",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Binary1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2Binary",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:44:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FTP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ワイルドカード",
				"activities": [
					{
						"name": "set_full_date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_full_datetime",
							"value": {
								"value": "@formatDateTime(subtractFromTime(convertFromUtc(utcNow(),'Tokyo Standard Time'),1,'Day'),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set_full_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"wildcardFolderPath": "test",
									"wildcardFileName": {
										"value": "@{concat(variables('var_full_datetime'),'*1000ENEUTL.csv')}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": true,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ftp_csv",
								"type": "DatasetReference",
								"parameters": {
									"prm_dir": "hoge",
									"prm_filename": "fuga"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_DelimitedText",
								"type": "DatasetReference",
								"parameters": {
									"container": "2301310060000200"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"var_full_datetime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SuspendTest2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SuspendTest01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "7z_Copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 120
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-27T07:15:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline9')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_2301180060001129')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "APIからBlobへのコピー ",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "HTTPDelimitedText_2301180060001129",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText_2301180060001129",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_2302090060000632')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SFTP_ワイルドカード",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFolderPath": "*",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FileSystemDelimitedText",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_DelimitedText",
								"type": "DatasetReference",
								"parameters": {
									"container": "2302090060000632"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Dataflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('arr')",
								"type": "Expression"
							},
							"batchCount": 30,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflow1_copy1",
											"type": "DataFlowReference",
											"parameters": {
												"num": {
													"value": "@item()",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"inputCsv": {},
												"sink1": {}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "integrationRuntime1",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Data flow2",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Data flow1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflow1",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"inputCsv": {},
												"sink1": {}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "integrationRuntime1",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"arr": {
						"type": "Array",
						"defaultValue": [
							1,
							2,
							3,
							4,
							5,
							6,
							7,
							8,
							9,
							10,
							11,
							12,
							13,
							14,
							15,
							16,
							17,
							18,
							19,
							20,
							21,
							22
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ステージングコピーの検証\n（ソース：SHIR 。シンク：Azure IR）",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService_for _staging",
									"type": "LinkedServiceReference"
								},
								"enableCompression": true
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText_local",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/regExtractTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"inputCsv": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:44:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schdule_TriggerTest003')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TriggerTest",
							"type": "PipelineReference"
						},
						"parameters": {
							"p1": "[parameters('Schdule_TriggerTest003_properties_TriggerTest_parameters_p1')]",
							"p2": "[parameters('Schdule_TriggerTest003_properties_TriggerTest_parameters_p2')]",
							"p3": "[parameters('Schdule_TriggerTest003_properties_TriggerTest_parameters_p3')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2022-07-15T04:02:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								40
							],
							"hours": [
								10
							],
							"monthDays": [
								-31,
								-30,
								-29,
								-27,
								-26,
								-25,
								-24,
								-23,
								-22,
								-21,
								-20,
								-19,
								-18,
								-17,
								-16,
								-15,
								-14,
								-13,
								-12,
								-11,
								-10,
								-9,
								-8,
								-7,
								-6,
								-5,
								-4,
								-3,
								-2,
								1,
								2,
								3,
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}