ADF-taizawa002/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "データ ファクトリ名",
			"defaultValue": "ADF-taizawa002"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ccc')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutomationWebhook')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExecuteWebhook",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://cd08f1ae-eaa6-4202-991f-5a63f633838a.webhook.jpe.azure-automation.net/webhooks?token=YFcERaCZ6urZCjLJ4xvxKK7KiXFgCyucXgCyqCQhek4%3d",
							"connectVia": {
								"referenceName": "SHIR-taizawa2",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "ExecuteWebhook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 30
						}
					},
					{
						"name": "GetJobStatus",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/d050af2c-cbd5-40e7-a95d-c6119e9cf256/resourceGroups/RG-taizawa001/providers/Microsoft.Automation/automationAccounts/AutomationTaizawaTest/jobs/',activity('ExecuteWebhook').output.JobIds[0] ,'?api-version=2019-06-01')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "SHIR-taizawa2",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetJobStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetJobStatus').output.properties.status, 'Completed')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "error",
										"errorCode": "error"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:43:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricksTest001')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/adftutorial/mynotebook",
							"baseParameters": {
								"input": {
									"value": "@pipeline().parameters.name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_LinkedService_001",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADFTest"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-26T05:43:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/adftutorial/mynotebook",
							"libraries": [
								{
									"jar": "dbfs:test.jar"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_LinkedService_001",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-11T09:41:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2206030060000373_in')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CRM_Contact_20220325.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					},
					{
						"name": "MasterRecordId",
						"type": "String"
					},
					{
						"name": "AccountId",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "Salutation",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "OtherStreet",
						"type": "String"
					},
					{
						"name": "OtherCity",
						"type": "String"
					},
					{
						"name": "OtherState",
						"type": "String"
					},
					{
						"name": "OtherPostalCode",
						"type": "String"
					},
					{
						"name": "OtherCountry",
						"type": "String"
					},
					{
						"name": "OtherLatitude",
						"type": "String"
					},
					{
						"name": "OtherLongitude",
						"type": "String"
					},
					{
						"name": "OtherGeocodeAccuracy",
						"type": "String"
					},
					{
						"name": "MailingStreet",
						"type": "String"
					},
					{
						"name": "MailingCity",
						"type": "String"
					},
					{
						"name": "MailingState",
						"type": "String"
					},
					{
						"name": "MailingPostalCode",
						"type": "String"
					},
					{
						"name": "MailingCountry",
						"type": "String"
					},
					{
						"name": "MailingLatitude",
						"type": "String"
					},
					{
						"name": "MailingLongitude",
						"type": "String"
					},
					{
						"name": "MailingGeocodeAccuracy",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "Fax",
						"type": "String"
					},
					{
						"name": "MobilePhone",
						"type": "String"
					},
					{
						"name": "HomePhone",
						"type": "String"
					},
					{
						"name": "OtherPhone",
						"type": "String"
					},
					{
						"name": "AssistantPhone",
						"type": "String"
					},
					{
						"name": "ReportsToId",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "AssistantName",
						"type": "String"
					},
					{
						"name": "LeadSource",
						"type": "String"
					},
					{
						"name": "Birthdate",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "CurrencyIsoCode",
						"type": "String"
					},
					{
						"name": "OwnerId",
						"type": "String"
					},
					{
						"name": "HasOptedOutOfEmail",
						"type": "String"
					},
					{
						"name": "HasOptedOutOfFax",
						"type": "String"
					},
					{
						"name": "DoNotCall",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "String"
					},
					{
						"name": "CreatedById",
						"type": "String"
					},
					{
						"name": "LastModifiedDate",
						"type": "String"
					},
					{
						"name": "LastModifiedById",
						"type": "String"
					},
					{
						"name": "SystemModstamp",
						"type": "String"
					},
					{
						"name": "LastActivityDate",
						"type": "String"
					},
					{
						"name": "LastCURequestDate",
						"type": "String"
					},
					{
						"name": "LastCUUpdateDate",
						"type": "String"
					},
					{
						"name": "LastViewedDate",
						"type": "String"
					},
					{
						"name": "LastReferencedDate",
						"type": "String"
					},
					{
						"name": "EmailBouncedReason",
						"type": "String"
					},
					{
						"name": "EmailBouncedDate",
						"type": "String"
					},
					{
						"name": "IsEmailBounced",
						"type": "String"
					},
					{
						"name": "PhotoUrl",
						"type": "String"
					},
					{
						"name": "Jigsaw",
						"type": "String"
					},
					{
						"name": "JigsawContactId",
						"type": "String"
					},
					{
						"name": "IndividualId",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_PersonId__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_SOC__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Sansan_CompanyId__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Sansan_CompanyInfo__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Sansan_PersonId__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Sansan_PersonInfo__c",
						"type": "String"
					},
					{
						"name": "MyDepartmentFlag__c",
						"type": "String"
					},
					{
						"name": "ABC_Evaluation__c",
						"type": "String"
					},
					{
						"name": "ACCOUNT_NAME__c",
						"type": "String"
					},
					{
						"name": "AREA__c",
						"type": "String"
					},
					{
						"name": "Address__c",
						"type": "String"
					},
					{
						"name": "Building__c",
						"type": "String"
					},
					{
						"name": "BusinessLine__c",
						"type": "String"
					},
					{
						"name": "ChangeDate__c",
						"type": "String"
					},
					{
						"name": "City__c",
						"type": "String"
					},
					{
						"name": "Comment__c",
						"type": "String"
					},
					{
						"name": "DeletedFlg__c",
						"type": "String"
					},
					{
						"name": "MyDivisionFlag__c",
						"type": "String"
					},
					{
						"name": "FirstName_Kana__c",
						"type": "String"
					},
					{
						"name": "HasOptedOutOfEmail__c",
						"type": "String"
					},
					{
						"name": "MyOperationsDepartmentFlag__c",
						"type": "String"
					},
					{
						"name": "LastName_Kana__c",
						"type": "String"
					},
					{
						"name": "MailMagazineFlg__c",
						"type": "String"
					},
					{
						"name": "MailingList__c",
						"type": "String"
					},
					{
						"name": "MobilePhone__c",
						"type": "String"
					},
					{
						"name": "ON_Evaluation__c",
						"type": "String"
					},
					{
						"name": "OldSystemSeqNo__c",
						"type": "String"
					},
					{
						"name": "PRG_Evaluation__c",
						"type": "String"
					},
					{
						"name": "PostalCode__c",
						"type": "String"
					},
					{
						"name": "Prefectures__c",
						"type": "String"
					},
					{
						"name": "RoleLevel__c",
						"type": "String"
					},
					{
						"name": "SeminarFlg__c",
						"type": "String"
					},
					{
						"name": "saveFlg__c",
						"type": "String"
					},
					{
						"name": "ABC_Evaluation_Remark__c",
						"type": "String"
					},
					{
						"name": "ABC__c",
						"type": "String"
					},
					{
						"name": "ON__c",
						"type": "String"
					},
					{
						"name": "PRG__c",
						"type": "String"
					},
					{
						"name": "MySectionFlag__c",
						"type": "String"
					},
					{
						"name": "pi__Needs_Score_Synced__c",
						"type": "String"
					},
					{
						"name": "pi__Pardot_Last_Scored_At__c",
						"type": "String"
					},
					{
						"name": "pi__campaign__c",
						"type": "String"
					},
					{
						"name": "pi__comments__c",
						"type": "String"
					},
					{
						"name": "pi__conversion_date__c",
						"type": "String"
					},
					{
						"name": "pi__conversion_object_name__c",
						"type": "String"
					},
					{
						"name": "pi__conversion_object_type__c",
						"type": "String"
					},
					{
						"name": "pi__created_date__c",
						"type": "String"
					},
					{
						"name": "pi__first_activity__c",
						"type": "String"
					},
					{
						"name": "pi__first_search_term__c",
						"type": "String"
					},
					{
						"name": "pi__first_search_type__c",
						"type": "String"
					},
					{
						"name": "pi__first_touch_url__c",
						"type": "String"
					},
					{
						"name": "pi__grade__c",
						"type": "String"
					},
					{
						"name": "pi__last_activity__c",
						"type": "String"
					},
					{
						"name": "pi__notes__c",
						"type": "String"
					},
					{
						"name": "pi__pardot_hard_bounced__c",
						"type": "String"
					},
					{
						"name": "pi__score__c",
						"type": "String"
					},
					{
						"name": "pi__url__c",
						"type": "String"
					},
					{
						"name": "pi__utm_campaign__c",
						"type": "String"
					},
					{
						"name": "pi__utm_content__c",
						"type": "String"
					},
					{
						"name": "pi__utm_medium__c",
						"type": "String"
					},
					{
						"name": "pi__utm_source__c",
						"type": "String"
					},
					{
						"name": "pi__utm_term__c",
						"type": "String"
					},
					{
						"name": "DataSource__c",
						"type": "String"
					},
					{
						"name": "EventDate__c",
						"type": "String"
					},
					{
						"name": "InboundInformation1__c",
						"type": "String"
					},
					{
						"name": "InboundInformation2__c",
						"type": "String"
					},
					{
						"name": "InboundInformation3__c",
						"type": "String"
					},
					{
						"name": "InboundOccurrenceDate__c",
						"type": "String"
					},
					{
						"name": "JoinOrNotJoin__c",
						"type": "String"
					},
					{
						"name": "LeadOccurrenceDate__c",
						"type": "String"
					},
					{
						"name": "LeadTypeName__c",
						"type": "String"
					},
					{
						"name": "MailDeliveryPermissionFlag__c",
						"type": "String"
					},
					{
						"name": "MailDeliveryPermissionGetDate__c",
						"type": "String"
					},
					{
						"name": "MailDeliveryPermissionGetSource__c",
						"type": "String"
					},
					{
						"name": "SeminarID__c",
						"type": "String"
					},
					{
						"name": "SeminorName__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_AutomaticKey__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_LocationTransfeProcessingNum__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_LocationTransferErrMsg__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_LocationTransferFlg__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_LocationTransferNextProcessingDate__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_PersonId_FK__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_SLC_Difference__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_SLC__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__CI_SOC_FK__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__ConversionTargetFlg__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Sansan_CompanyId_FK__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Sansan_PersonId_FK__c",
						"type": "String"
					},
					{
						"name": "Sansan_CI__Tags__c",
						"type": "String"
					},
					{
						"name": "sci_person_address_city__c",
						"type": "String"
					},
					{
						"name": "sci_person_address_countryCode__c",
						"type": "String"
					},
					{
						"name": "sci_person_address_postalCode__c",
						"type": "String"
					},
					{
						"name": "sci_person_address_state__c",
						"type": "String"
					},
					{
						"name": "sci_person_address_street__c",
						"type": "String"
					},
					{
						"name": "sci_person_department__c",
						"type": "String"
					},
					{
						"name": "sci_person_email__c",
						"type": "String"
					},
					{
						"name": "sci_person_fax__c",
						"type": "String"
					},
					{
						"name": "sci_person_firstName__c",
						"type": "String"
					},
					{
						"name": "sci_person_lastName__c",
						"type": "String"
					},
					{
						"name": "sci_person_mobilePhone__c",
						"type": "String"
					},
					{
						"name": "sci_person_organizationName__c",
						"type": "String"
					},
					{
						"name": "sci_person_phone__c",
						"type": "String"
					},
					{
						"name": "sci_person_position__c",
						"type": "String"
					},
					{
						"name": "sci_sansan_organization_keywords__c",
						"type": "String"
					},
					{
						"name": "sci_sansan_person_occupations__c",
						"type": "String"
					},
					{
						"name": "sci_sansan_person_personId__c",
						"type": "String"
					},
					{
						"name": "sci_sansan_person_positionRank__c",
						"type": "String"
					},
					{
						"name": "sci_sansan_person_tags__c",
						"type": "String"
					},
					{
						"name": "ExcludedFromSendingMailCheckStatus__c",
						"type": "String"
					},
					{
						"name": "ExcludedFromSendingMailCheck__c",
						"type": "String"
					},
					{
						"name": "InvalidOwnerFlag__c",
						"type": "String"
					},
					{
						"name": "KyoikuPersonFlag__c",
						"type": "String"
					},
					{
						"name": "CompanyName__c",
						"type": "String"
					},
					{
						"name": "Remarks__c",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/2206030060000373_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "NAME",
						"type": "String"
					},
					{
						"name": "CONTENT",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/7zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "7zip"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/7zip_ADLSGen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "7zip"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "exceloutput"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2_csv_in001')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2_datalakestoragetaizawa_MSI",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string",
						"defaultValue": "ETL/AD01/work"
					},
					"fileName": {
						"type": "string",
						"defaultValue": "MKI_DMS_RECOVERY"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						},
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2_csv_out001')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2_datalakestoragetaizawa_MSI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage5",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dummy",
						"container": "renametestinput"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage6",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "outputFile.docx",
						"container": "renametestoutput"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_CSV_2210280060000080')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "2210280060000080_001.csv",
						"container": "2210280060000080-in"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "num",
						"type": "String"
					},
					{
						"name": "decimal",
						"type": "String"
					},
					{
						"name": "single",
						"type": "String"
					},
					{
						"name": "double",
						"type": "String"
					},
					{
						"name": "string",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_CSV_2210280060000080_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "2210280060000080-out"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_DelimitedText')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_Jspn1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "20230201_テストデータ.json",
						"container": "2301270060000662"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"event_params": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"key": {
										"type": "string"
									},
									"value": {
										"type": "object",
										"properties": {
											"string_value": {
												"type": "string"
											},
											"int_value": {
												"type": "integer"
											},
											"float_value": {
												"type": "number"
											},
											"double_value": {
												"type": "number"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_Xml')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "2301240060000138.xml",
						"container": "2301240060000138"
					}
				}
			},
			"dependsOn": []
		}
	]
}